@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
    background: #01478c;

}

::-webkit-scrollbar-thumb {
    background: #0066cc;
    /* border-radius: 4px; */

}
::-webkit-scrollbar-thumb:hover {
    background: royalblue;
}



/* .custom-position {
    left: 64px;
}

@media (max-width: 768px) {
    .custom-position {
        right: 64px;
    }
} */